/* Nav bar style */
.menu {
    background-color: #020E01;
    color: white;
}

.menu a {
    color: white;
}

.list-elements {
    list-style: none;
    font-weight: bold;
    margin-left: 60px;
}

.list-elements li {
    display: inline-block;
    padding-right: 30px;
}

.name-out {
    text-decoration: none;
}

/************/

/* Create token style */
.Back-to {
    font-weight: bold;
    padding-left: 30px;
    padding-top: 30px;
}

.texas {
    display: flex;
    justify-content: space-between;
}

.inputs input[type="text"] {
  background-color: transparent;
  border-color:darkslategrey;
  outline: none;
  color: black;
  border-radius: 10px;
  width: 270px;
}

.inputs input[type="file"] {
  color: black;
  border-radius: 10px;
  width: 270px;
  height: 50px;
}

.inputs {
    font-weight: bold;
}

.inputs label[for="nom"] {
  margin-right: 250px;
  margin-top: 7px;
  margin-left: 5px;
}

.inputs label[for="username"] {
  margin-left: 5px;
  margin-top: 7px;
  margin-right: 320px;
}

.inputs label[for="shares"] {
  margin-right: 160px;
  margin-top: 7px;
  margin-left: 5px;
}

.inputs label[for="shares-price"] {
  margin-right: 152px;
  margin-top: 15px;
  margin-left: 5px;
}

.inputs label[for="ticket"] {
  margin-right: 118px;
  margin-top: 15px;
  margin-left: 5px;
}

.inputs label[for="pool"] {
  margin-right: 167px;
  margin-top: 18px;
  margin-left: 5px;
}

.inputs label[for="image"] {
  margin-top: 10px;
  margin-left: 5px;
}

.inputs label[for="music"] {
  margin-top: 18px;
  margin-left: 5px;
}

.file input[type="file"]::file-selector-button {
  content: "Choose file";
  display: inline-block;
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.boutton {
    display: flex;
    justify-content: end;
    margin-right: 320px;
    margin-top: 30px;
}

.boutton button {
    background-color: #16BF07;
    border-radius: 15px;
    width: 200px;
    height: 70px;
}

.audio {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid black;
  border-color: black;
  margin-left: 10px;
  width: 727px;
  height: 109px;
}

/*******/

/* Welcome style */

.welcome {
  margin-top: 40px;
  margin-left: 40px;
}

.welcome h2 {
  font-weight: bold;
}

.creations {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid black;
  border-color: black;
  margin-top: 40px;
  margin-left: 40px;
  width: 1742px;
  height: 413px;
}

.your {
  margin-top: 20px;
  margin-left: 20px;
}

.your h4 {
  font-weight: bold;
}

.table tr th {
  border-color: transparent;
}

.table {
  width: 1200px;
  border-spacing: 15px;
  margin-top: 20px;
  margin-left: 40px;
}

.create {

  border-radius: 15px;
  text-align: right;
  height: 40px;
  display: flex;
  float: right;
  margin-right: 50px;
}

.elements {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid black;
  border-color: black;
  margin-top: 170px;
  margin-left: 15px;
  width: 1700px;
  height: 85px;
  display: flex;
  align-items: center;
}

.elements a {
  color: black;
  font-weight: bold;
}

.integration {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid black;
  border-color: black;
  margin-top: 40px;
  margin-left: 40px;
  width: 587px;
  height: 303px;
}

.spotify {
  margin-top: 20px;
  margin-left: 35px;
  margin-bottom: 10px;
  border-radius: 15px;
  height: 40px;
  width: 220px;
}

.sc {
  margin-left: 35px;
  margin-bottom: 10px;
  border-radius: 15px;
  height: 40px;
  width: 220px;
}

/**MARKET**/
.welcome-market {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome-market h2 {
  font-weight: bold;
}

.welcome-market input[type="text"] {
  background-color: transparent;
  outline: none;
  border-radius: 25px;
  border-color: #000000;
  width: 450px;
  height: 53px;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search p {
  margin-top: 10px;
  margin-right: 20px;
  font-size: 25px;
}

.tables {
  margin-top: 20px;
  margin-left: 40px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.articles {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid black;
  border-color: black;
  margin-top: 10px;
  margin-left: 15px;
  width: 1790px;
  height: 85px;
  display: flex;
  align-items: center;
}
