

.menu {
    background-color: #020E01;
    color: white;
}

.menu a {
    color: white;
}

.list-elements {
    list-style: none;
    font-weight: bold;
    margin-left: 60px;
}

.list-elements li {
    display: inline-block;
    padding-right: 30px;
}

.name-out {
    text-decoration: none;
}

.Back-to {
    font-weight: bold;
    padding-left: 30px;
    padding-top: 30px;
}

.texas {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
  background-color: transparent;
  /* border-color: black; */
  border-color:darkslategrey;
  outline: none;
  color: black;
  border-radius: 10px;
  width: 270px;
}

input[type="file"] {
  color: black;
  border-radius: 10px;
  width: 270px;
  height: 50px;
}

.inputs {
    font-weight: bold;
}

label[for="nom"] {
  margin-right: 250px;
  margin-top: 7px;
  margin-left: 5px;
}

label[for="username"] {
  margin-left: 5px;
  margin-top: 7px;
  margin-right: 320px;
}

label[for="shares"] {
  margin-right: 160px;
  margin-top: 7px;
  margin-left: 5px;
}

label[for="shares-price"] {
  margin-right: 152px;
  margin-top: 15px;
  margin-left: 5px;
}

label[for="ticket"] {
  margin-right: 118px;
  margin-top: 15px;
  margin-left: 5px;
}

label[for="pool"] {
  margin-right: 167px;
  margin-top: 18px;
  margin-left: 5px;
}

label[for="image"] {
  margin-top: 10px;
  margin-left: 5px;
}

label[for="music"] {
  margin-top: 18px;
  margin-left: 5px;
}

/* .file input[type="file"] {
    color: black;
    border-radius: 10px;
    width: 270px;
    height: 50px;
    
} */

.file input[type="file"]::file-selector-button {
  content: "Choose file";
  display: inline-block;
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.boutton {
    display: flex;
    justify-content: end;
    margin-right: 320px;
    margin-top: 30px;
}

.boutton button {
    background-color: #16BF07;
    border-radius: 15px;
    width: 200px;
    height: 70px;
}

audio {
  background-color: black;
  border-radius: 02%;
}